body {
    background-color: black;
    color: gray;
    font-size: 25px;
    cursor: default;
}

.nav-item:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.icons {
    position: absolute;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.red {
    color: crimson;
}

#home {
    margin-top: 15%;
    text-align: center;
}

#prof {
    border-radius: 50%;
}

.href {
    color: gray;
    text-decoration: none;
}

.href:hover {
    color: crimson;
    cursor: pointer;
}

#about {
    margin-top: 15%;
}

#skills {
    margin-left: auto;
    margin-right: auto;
}

.progress {
    height: 10px;
}

.bio {
    font-size: 20px;
    color: white;
    /* text-align: center; */
}

.bio hr {
    width: 80%;
    margin: 10px 0;
}

.set-border {
    border-bottom: 5px solid crimson;
}

.card-img-top {
    border-radius: 50%;
}

.card {
    background-color: transparent;
    align-self: center;
}

#my-skill {
    align-self: center;
}

.list-unstyled {
    list-style: none;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}

#contact-form .input {
    background-color: rgb(29, 29, 29);
    color: crimson;
    /* font-weight: bold; */
    border: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.20rem rgba(220, 20, 60, 35%);
}

.btn-danger {
    background-color: crimson;
    padding: 8px 16px;
    margin: 4px 2px;
    border-radius: 20px;
}

.btn-danger:hover {
    background-color: rgba(220, 20, 60, 0.593);
}